@model JDash.MvcDemo.Areas.Dashlets.Models.RssEditModel

@using JDash.Mvc

<div>
    @using (Ajax.BeginForm(new AjaxOptions() { }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Set HTML Options</legend>
            <div class="form-group">
                <div class="col-md-6">
                    @Html.Label("Title")
                    @Html.JDash().DashletTitleEditor().Css("form-control").Render()
                </div>

                <div class="col-md-6">
                    @Html.Label("Style")
                    @Html.JDash().DashletStylesList().Render()
                </div>

            </div>
            <div class="form-group">
                @Html.Label("Url")
                @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                 @Html.ValidationMessageFor(m => m.Url)
            </div>
            <div class="form-group">
                @Html.Label("Limit Feeds")
                @Html.TextBoxFor(m => m.Limit, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Limit)
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.ShowBody)
                    @Html.Label("Detailed View")
                </label>
            </div>
        </fieldset>
    }
</div>
